$c-orange:#f99d1c;
$c-blue:#0072bc;
$c-body:#666666;
$c-black:#000;
$c-white:#fff;





//grid

$mxw768: max-width 767px;

$mnw768: max-width 768px;

$mxw992: max-width 991px;

$mxw670: max-width 670px;

$mxw570: max-width 570px;

$mxw400: max-width 400px;

$mnw992: min-width 992px;

$mxw1024: max-width 1024px;

$mxw1200: max-width 1199px;

$mxw320: max-width 320px;