---
title: Portfolio
layout: default
permalink: /portfolio/
---
    <section class="banner inner">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/hero-banner-portfolio.jpg" class="hidden-xs">
                <img src="/images/hero-banner-portfolio-m.jpg" class="visible-xs">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h1>
                                    OUR <span class="brand-color">PORTFOLIO </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-main">
    <div class="container">
        <div class="row">
            {% for company in site.portfolio %}
            <div class="col-md-4 col-sm-6">
                <a href="#" data-toggle="modal" data-target="#{{ company.title | slugify }}">
                    <div class="portfolio-box"><i class="top-cornner"></i><img src="/images/portfolio/{{ company.logo }}" alt="">
                        <div class="caption-box">
                            <span class="ct-popup-btn"></span>
                            <h4>{{ company.title }}</h4>
                            <p>{{ company.blurb }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <!-- p class="btn-box"><a href="javascript:;" class="btn load-more">LOAD MORE</a></p -->
    </div>
</section>

{% for company in site.portfolio %}
<div class="modal team-popup portfolio fade animated slideInRight" id="{{ company.title | slugify }}" role="dialog">
    <div class="container">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="popup-container">
                <div class="col-md-12 clearfix">
                    <p>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </p>
                </div>
                <h3>{{ company.title }}</h3>
                <div class="clearfix brdb">
                    <div class="col-md-4 col-sm-5">
                        <div class="portfolio-box"><i class="top-cornner"></i><img src="/images/portfolio/{{ company.logo }}" alt=""> </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        {{ company.output }}
                        <p class="btn-box"><a href="{{ company.link }}" class="btn outbound">Visit Website</a></p>
                    </div>
                </div>
                {% for founder in company.founders %}
                <div class="clearfix{% if forloop.index > 0 %} MT50{% endif %}">
                    {% if forloop.first %}<h4>Founders</h4>{% endif %}
                    <div class="col-md-4 col-sm-5">
                        <div class="core-team-box"><i class="top-cornner"></i><img src="/images/founders/{{ founder.portrait }}" alt="">
                            <div class="ct-caption-box">
                                <h4>{{ founder.name }}</h4>
                                <p>{{ founder.title }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <p>{{ founder.biography | markdownify }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}